<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjkj.sms.mapper.SmsLogMapper">
	<resultMap id="BaseResultMap" type="com.yjkj.sms.entity.SmsLogEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sendMethod" jdbcType="VARCHAR" property="sendMethod" />
    <result column="tempId" jdbcType="VARCHAR" property="tempId" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="sendFrom" jdbcType="VARCHAR" property="sendFrom" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="creatTime" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="success" jdbcType="INTEGER" property="success" />
    
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yjkj.sms.entity.SmsLogEntity">
    <result column="phone" jdbcType="LONGVARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sendMethod, tempId, params, sendFrom, result, creatTime,success
  </sql>
  <sql id="Blob_Column_List">
    phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sms_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectBySmsLogEntity" parameterType="com.yjkj.sms.entity.SmsLogEntity" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    <!-- <choose>
    	<when test="phone != null and phone != ''"> #{phone} as phone</when>
    	<otherwise>phone</otherwise>
    </choose> -->
    from sms_log
   	<where>
   		<if test="phone != null and phone != ''">
    		<bind name="bindPhone" value="'%' + phone + '%'" />
			and phone like #{bindPhone}
		</if>
		<if test="tempId != null and tempId != ''">
			and tempId like '%"#{tempId}"%'
		</if>
		<if test="success != null and success != ''">
			and success = #{success}
		</if>
		<if test="startTime != null and startTime != ''">
			and creatTime &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
		<if test="endTime != null and endTime != ''">
			and creatTime &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
   	</where>
  </select>
  
	<insert id="insertSmsLog" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
		parameterType="com.yjkj.sms.entity.SmsLogEntity"> 
		insert into sms_log 
		(sendMethod , tempId, params, sendFrom, phone,result)
		values
		(#{sendMethod}, #{tempId},#{params},#{sendFrom},#{phone},#{result})
	</insert>
	
	<update id="updateSmsLog" parameterType="com.yjkj.sms.entity.SmsLogEntity">
		update sms_log set result=#{result}, success=#{success} where id=#{id}
	</update>
</mapper>